@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.container-main{
    height: 100%;
    width: 100vw;
    background: #27374D;
    padding: 15px;

        & .container-nav{
            width: 60vw;
            margin: 0 auto;

            & nav{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                & .logo{
                    color: #fff;
                    font-size: 30px;

                    & a{
                        color: #fff;
                        font-size: 40px;
                        text-decoration: none;
                    }
                }

                & .list-direction {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    & ul{
                        list-style: none;
    
                        & li{

                                & a{
                                    font-size: 16px;
                                    margin-right: 20px;
                                    color: #fff;
                                    text-decoration: none;
                                    background: #27374D;
                                    border: 1px solid #27374D;
                                    border-radius: 5px;
                                    padding: 10px;
                                    transition: 0.3s ease;
                                }
    
                                & a:hover{
                                    color: #DDE6ED;
                                    transition: 0.3s ease;
                                    border: 1px solid #9DB2BF;
                                    border-radius: 5px;
                                    background: #9DB2BF;
                                    color: #27374D;
                                }
    
                                & i{
                                    border: 1px solid #526D82;
                                    border-radius: 5px;
                                    padding: 10px;
                                    background: #526D82;
                                    transition: 0.3s ease;
                                }
    
                                & i:hover{
                                    background: #DDE6ED;
                                    color: #526D82;
                                }
                        }
                    }
    
                    & .cart{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;

                            & i{
                                font-size: 25px;
                                cursor: pointer;
                                color: #DDE6ED;
                                border-radius: 5px;
                                padding: 10px;
                                transition: 0.3s ease;
                            }
        
                            & i:hover{
                                color: #fff;
                            }

                            & .cart-count{
                                position: absolute;
                                top: -5px;
                                right: -5px;
                                cursor: pointer;
                                width: 25px;
                                height: 25px;
                                border-radius: 50%;
                                background: #9DB2BF;
                                color: #fff;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                    }
                }
            }
        }
}

.container-main1{
    height: 600px;
    width: 100%;
    background: url("index-wallpapermain1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-image: fill 0 linear-gradient(#0001,#000);
    padding: 15px;



        & .container-info1{
            width: 60vw;
            margin: 0 auto;
            display: flex;
            justify-content: start;
            align-items: center;

                & .information1{
                    /* border: 1px solid green; */

                        & .outline{
                            /* backdrop-filter: blur(5px); */
                            /* border: 2px solid #DDE6ED;
                            border-radius: 10px;
                            padding: 20px; */
                            width: 30vw;
                            margin-bottom: 40px;

                            & h1{
                                /* border: 1px solid red; */
                                /* width: 40%; */
                                color: #DDE6ED;
                                text-shadow: 5px 4px rgb(0, 0, 0); 
                                font-size: 60px;
                            }
        
                            & p{
                                color: #DDE6ED;
                                text-shadow: 2px 2px rgb(0, 0, 0); 
                                font-size: 20px;
                            }
                        }

                    & a{
                        border: 1px solid rgb(39, 55, 77);
                        border-radius: 10px;
                        padding: 10px 20px;
                        background: #27374D;
                        color: #fff;
                        text-decoration: none;
                        font-size: 20px;
                        transition: 0.3s ease;
                    }

                    & a:hover{
                        border: 1px solid #DDE6ED;
                        background: #DDE6ED;
                        color: #27374D;
                    }
                }
        }
}

.container-main2{
    height: 700px;
    width: 100%;
    background: #fff;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;

        & .container-main2-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            & .container-info2{
                width: 60vw;
    
                    & .support-top{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
    
                            & .support-top-left{
                                display: flex;
                                flex-direction: column;
    
                                    & p{
                                        font-size: 16px;
                                    }
            
                                    & h1{
                                        font-size: 40px;
                                    }
                            }
    
                            & .support-top-right{
                                width: 45%;
    
                                    & p{
                                        font-size: 16px;
                                    }
                            }
                    }
            }
        }

        .container-main2-card{
            margin-top: 40px;

        
                & .container-card{
                    width: 60vw;
                    height: auto;
                    display: flex;
                    /* align-items: center; */
                    justify-content: space-between;
                    gap: 20px;
        
                        & .card-column{
                            width: 300px;

        
                            & .card-head{
                                position: relative;
                                padding: 10px;
                                background: #333;
                                border-radius: 5px;
                                width: 20vw;
                                height: 300px;
                                margin-bottom: 40px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
        
                                    & .card-num{
                                        color: #fff;
                                        position: absolute;
                                        top: 20px;
                                        left: 20px;
                                    }
                                    & .card-name{
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        color: #fff;
                                        font-size: 30px;
                                        font-weight: bold;
                                        width: 20vw;
                                        text-align: center;
                                    }
                            }
        
                            & .card-detail{
                                    & p{
                                        font-size: 16px;
                                    }
                            }
                        }
                }
        }
}


.container-main3{
    height: 600px;
    width: 100%;
    background: url("510924.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    border-image: fill 0 linear-gradient(#0001,#000);


    & .container-info3{
        /* border: 1px solid red; */
        width: 1200px;
        padding: 15px;

            & .information3{
                height: 600px;
                /* border: 1px solid red; */
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;


                    & .outline{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: flex-end;
                        min-width: 550px;
                        margin-left: auto;
                        /* ที่ใส่ margin left auto เพราะมันจะทำตามคำสั่งจาก justify-content ที่สั่งให้ทำเป็น flex-end(ไปเริ่มที่ด้านขวา)*/ 
                        /* backdrop-filter: blur(5px); */
                        border: 2px solid #DDE6ED;
                        border-radius: 10px;
                        width: 40%;
                        padding: 20px;
                        margin-bottom: 40px;

                        & h1{
                            /* border: 1px solid red; */
                            color: #DDE6ED;
                            text-shadow: 5px 4px rgb(0, 0, 0); 
                            font-size: 60px;
                            text-align: end;
                        }
    
                        & p{
                            text-align: end;
                            /* border: 1px solid red; */
                            color: #DDE6ED;
                            text-shadow: 2px 2px rgb(0, 0, 0); 
                            font-size: 20px;
                        }
                    }

                .btn-detail{
                    /* border: 1px solid red; */
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    min-width: 550px;
                    margin-left: auto;

                    & a{
                        border: 1px solid rgb(39, 55, 77);
                        border-radius: 10px;
                        padding: 20px;
                        background: #27374D;
                        color: #fff;
                        text-decoration: none;
                        font-size: 20px;
                        transition: 0.3s ease;
                        }
        
                        & a:hover{
                        border: 1px solid #DDE6ED;
                        background: #DDE6ED;
                        color: #27374D;
                        transition: 0.3s ease;
                        }
                }
        }
    }
}

.container-main4{
    height: auto;
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: center;

        & .container-info4{
            width: 1200px;
            padding: 15px;
            /* border: 1px solid red; */

                & .opentime{
                    margin-top: 40px;
                    margin-bottom: 40px;

                        & p{
                            font-size: 20px;
                        }

                        & h1{
                            font-size: 40px;
                        }
                }
        }  
}

.container-main5{
    height: 500px;
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: center;

        & .container-info5{
            width: 1200px;
            padding: 15px;
            /* border: 1px solid red; */

                & .form-detailed{
                    /* border: 1px solid blue; */

                        & .product-list{
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            grid-gap: 40px;

                                & .card-pic{
                                    /* border: 1px solid blue; */
                                    display: inline;
                                    /* align-items: center;
                                    justify-content: center; */
                                    /* place-items: center; */

                                        & img{
                                            width: 370px;
                                            height: 200px;
                                            /* object-fit: contain;  */
                                            /*อันนี้คือปรับขนาดรูปภาพ */
                                            border-radius: 10px;
                                        }

                                        & .motorcycle-list{
                                            /* border: 1px solid red; */
                                            margin-top: 20px;
                                            margin-bottom: 20px;
                                            
                                                & .list-name{
                                                    display: flex;
                                                    justify-content: center;
                                                    align-items: center;

                                                        & h3{
                                                            font-size: 25px;
                                                        }
                                                }

                                                & .list-price{
                                                    display: flex;
                                                    justify-content: center;
                                                    align-items: center;

                                                        & p{
                                                            font-size: 15px;
                                                        }
                                                }
                                        }

                                        & .detail{
                                            display: flex;
                                            justify-content: center;
                                            align-items: center;
                                            /* border: 1px solid red; */

                                                & a{
                                                    text-decoration: none;
                                                    color: #27374D;
                                                    background: #fff;
                                                    border: 1px solid #27374D;
                                                    border-radius: 5px;
                                                    padding: 10px;
                                                    transition: 0.3s ease;
                                                }

                                                & a:hover{
                                                    color: #fff;
                                                    background: #27374D;
                                                    border: 1px solid #27374D;
                                                    transition: 0.3s ease;
                                                }
                                        }
                                }
                        }
                }

            .more-detail{
                width: 100%;
                height: 100px;
                /* border: 1px solid red; */

                    & .btn-detail{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 40px;

                            & a{
                                text-decoration: none;
                                color: #fff;
                                background: #526D82;
                                border: 1px solid #526D82;
                                border-radius: 5px;
                                padding: 10px;
                                transition: 0.3s ease;
                            }

                            & a:hover{
                                color: #fff;
                                background: #27374D;
                                border: 1px solid #27374D;
                                transition: 0.3s ease;
                            }
                    }
            }
        }
}

.container-main6{
    height: 500px;
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: center;

        .container-info6{
            width: 1200px;
            padding: 15px;
            /* border: 1px solid red; */

                & .profile{
                    /* position: relative; */
                    display: flex;
                    justify-content: flex-end;

                        & .profile-pic{
                            /* border: 1px solid green; */
                            margin-top: 30px;
                            margin-left: 50px;

                                & img{
                                    position: absolute; /*เป็นการเอาภาพออกมาเพื่อให้เรากำหนดการจัดวางของรูปภาพได้*/
                                    width: 330px;
                                    height: 350px;
                                    /* object-fit: contain;  */
                                    /*อันนี้คือปรับขนาดรูปภาพ */
                                    border-radius: 10px;
                                    /* border: 1px solid blue; */
                                }
                        }

                        & .profile-content{
                            /* border: 1px solid green; */
                            margin-left: 200px;
                            background: #27374D;
                            border-radius: 10px;
                            padding-left: 300px;
                            padding-top: 50px;
                            padding-bottom: 50px;
                            padding-right: 200px;

                                & h1{
                                    font-size: 30px;
                                    color: #fff;
                                    margin-bottom: 15px;
                                }

                                & p{
                                    font-size: 15px;
                                    color: white;
                                    margin-bottom: 10px;
                                }
                        }
                }
        }
}


footer{
    height: 150px;
    width: 100%;
    background: #333;
    display: flex;
    justify-content: center;

        & .container-footer{
            width: 1200px;
            padding: 15px;

                & nav{
                    /* border: 1px solid green; */
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 40px;

                        & .logo{
                            /* border: 1px solid red; */

                                & a{
                                    color: #fff;
                                    font-size: 40px;
                                    text-decoration: none;
                                }
                        }

                        & ul{
                            list-style: none;
                            
                                & li{
                                    /* border: 1px solid red; */

                                        & a{
                                            margin-left: 20px;
                                            color: #fff;
                                            font-size: 30px;
                                            transition: 0.3s ease;
                                        }

                                        & a:hover{
                                            color: #9DB2BF;
                                            transition: 0.3s ease;
                                        }
                                }
                        }
                }

                & .end{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 20px;

                        & p{
                            font-size: 12px;
                            color: #fff;
                        }

                        & a{
                            font-size: 12;
                            color: #526D82;
                        }

                        & a:hover{
                            text-decoration: none;
                        }
                }
        }
}

/* color theme https://colorhunt.co/palette/27374d526d829db2bfdde6ed */
/* Thank you https://biznus-template.webflow.io/ to make me getting better */