@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.container-main{
    height: 100%;
    width: 100%;
    background: #27374D;
    padding: 15px;

        & .container-nav{
            width: 1200px;
            margin: 0 auto;


            & nav{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                & .logo{
                    color: #fff;
                    font-size: 20px;

                    & a{
                        color: #fff;
                        font-size: 40px;
                        text-decoration: none;
                    }
                }

                & .list-direction {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    & ul{
                        list-style: none;
    
                        & li{

                                & a{
                                    font-size: 16px;
                                    margin-right: 20px;
                                    color: #fff;
                                    text-decoration: none;
                                    background: #27374D;
                                    border: 1px solid #27374D;
                                    border-radius: 5px;
                                    padding: 10px;
                                    transition: 0.3s ease;
                                }
    
                                & a:hover{
                                    color: #DDE6ED;
                                    transition: 0.3s ease;
                                    border: 1px solid #9DB2BF;
                                    border-radius: 5px;
                                    background: #9DB2BF;
                                    color: #27374D;
                                }
    
                                & i{
                                    border: 1px solid #526D82;
                                    border-radius: 5px;
                                    padding: 10px;
                                    background: #526D82;
                                    transition: 0.3s ease;
                                }
    
                                & i:hover{
                                    background: #DDE6ED;
                                    color: #526D82;
                                }
                        }
                    }
    
                    & .cart{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;

                            & i{
                                font-size: 25px;
                                cursor: pointer;
                                color: #DDE6ED;
                                border-radius: 5px;
                                padding: 10px;
                                transition: 0.3s ease;
                            }
        
                            & i:hover{
                                color: #fff;
                            }

                            & .cart-count{
                                position: absolute;
                                top: -5px;
                                right: -5px;
                                cursor: pointer;
                                width: 25px;
                                height: 25px;
                                border-radius: 50%;
                                background: #9DB2BF;
                                color: #fff;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                    }
                }
            }
        }
}

.container-main1{
    height: 600px;
    width: 100%;
    background: url("index-wallpapermain1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-image: fill 0 linear-gradient(#0001,#000);
    padding: 15px;



        & .container-info1{
            width: 1200px;
            margin: 0 auto;
            display: flex;
            justify-content: start;
            align-items: center;

                & .information1{
                    /* border: 1px solid green; */

                        & .outline{
                            /* backdrop-filter: blur(5px); */
                            /* border: 2px solid #DDE6ED;
                            border-radius: 10px;
                            padding: 20px; */
                            width: 30vw;
                            margin-bottom: 40px;

                            & h1{
                                /* border: 1px solid red; */
                                /* width: 40%; */
                                color: #DDE6ED;
                                text-shadow: 5px 4px rgb(0, 0, 0); 
                                font-size: 40px;
                                margin-bottom: 10px;
                            }
        
                            & p{
                                color: #DDE6ED;
                                text-shadow: 2px 2px rgb(0, 0, 0); 
                                font-size: 18px;
                                width: 25vw;
                            }
                        }

                    & a{
                        border: 1px solid rgb(39, 55, 77);
                        border-radius: 10px;
                        padding: 10px 20px;
                        background: #27374D;
                        color: #fff;
                        text-decoration: none;
                        font-size: 16px;
                        transition: 0.3s ease;
                    }

                    & a:hover{
                        border: 1px solid #DDE6ED;
                        background: #DDE6ED;
                        color: #27374D;
                    }
                }
        }
}

.container-main2{
    height: 700px;
    width: 100%;
    background: #fff;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;

        & .container-main2-content{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            & .container-info2{
                width: 1200px;
    
                    & .support-top{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
    
                            & .support-top-left{
                                display: flex;
                                flex-direction: column;
    
                                    & p{
                                        font-size: 16px;
                                    }
            
                                    & h1{
                                        font-size: 40px;
                                    }
                            }
    
                            & .support-top-right{
                                width: 45%;
    
                                    & p{
                                        font-size: 16px;
                                    }
                            }
                    }
            }
        }

        .container-main2-card{
            margin-top: 40px;
        
                & .container-card{
                    width: 1200px;
                    height: auto;
                    display: flex;
                    /* align-items: center; */
                    justify-content: space-between;
                    gap: 20px;
        
                        & .card-column{
                            width: 300px;

        
                            & .card-head{
                                position: relative;
                                padding: 10px;
                                background: #333;
                                border-radius: 5px;
                                /* width: 18vw; */
                                max-width: 15vw;
                                height: 250px;
                                margin-bottom: 40px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
        
                                    & .card-num{
                                        color: #fff;
                                        position: absolute;
                                        top: 20px;
                                        left: 20px;
                                    }
                                    & .card-name{
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        color: #fff;
                                        font-size: 30px;
                                        font-weight: bold;
                                        width: 20vw;
                                        text-align: center;
                                    }
                            }
        
                            & .card-detail{
                                    & p{
                                        max-width: 15vw;
                                        font-size: 16px;
                                    }
                            }
                        }
                }
        }
}


.container-main3{
    height: 600px;
    width: 100%;
    background: url("510924.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    border-image: fill 0 linear-gradient(#0001,#000);
    padding: 15px;

    & .container-info3{
        width: 1200px;

            & .information3{
                height: 500px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                    & .outline{
                        display: flex;
                        flex-direction: column;
                        align-items: end;
                        justify-content: flex-end;
                        margin-left: auto;
                        /* ที่ใส่ margin left auto เพราะมันจะทำตามคำสั่งจาก justify-content ที่สั่งให้ทำเป็น flex-end(ไปเริ่มที่ด้านขวา)*/ 
                        /* backdrop-filter: blur(5px); */
                        /* border: 2px solid #DDE6ED; */
                        /* border-radius: 10px; */
                        margin-bottom: 40px;

                        & h1{
                            width: 20vw;
                            color: #DDE6ED;
                            text-shadow: 5px 4px rgb(0, 0, 0); 
                            font-size: 30px;
                            text-align: end;
                            margin-bottom: 10px;
                        }
    
                        & p{
                            width: 25vw;
                            text-align: end;
                            /* border: 1px solid red; */
                            color: #DDE6ED;
                            text-shadow: 2px 2px rgb(0, 0, 0); 
                            font-size: 18px;
                        }
                    }

                .btn-detail{
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    margin-left: auto;

                    & a{
                        border: 1px solid rgb(39, 55, 77);
                        border-radius: 10px;
                        padding: 10px 20px;
                        background: #27374D;
                        color: #fff;
                        text-decoration: none;
                        font-size: 16px;
                        transition: 0.3s ease;
                        }
        
                        & a:hover{
                        border: 1px solid #DDE6ED;
                        background: #DDE6ED;
                        color: #27374D;
                        }
                }
        }
    }
}

.container-main4{
    height: auto;
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    padding: 15px;

        & .container-info4{
            width: 1200px;

                & .opentime{
                    margin-top: 40px;
                    margin-bottom: 20px;

                        & p{
                            font-size: 20px;
                        }

                        & h1{
                            font-size: 40px;
                        }
                }
        }  
}

.container-main5{
    height: 700px;
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    padding: 15px;

        & .container-info5{
            width: 1200px;

                & .form-detailed{
                    width: 100%;

                        & .product-list{

                            .main-product-right{
                                width: 100%;
            
                                    .main-product-list{
                                        display: grid;
                                        grid-auto-columns: 1fr;
                                        grid-column-gap: 16px;
                                        grid-row-gap: 16px;
                                        grid-template-columns: 1fr 1fr 1fr;
                                        grid-template-rows: auto auto;
            
                                            .product{

                                                    a{
                                                        text-decoration: none;
                                                        color: #27374D;

                                                        .product-picture-bike{
                                                            background: url("bmw-s1000rr-motogp-safety-motorcycle-2880x1620_54787-mm-90.jpg");
                                                            background-position: 30% 50%;
                                                            background-repeat: no-repeat;
                                                            background-size: cover;
                                                            border-radius: 5px;
                                                            min-height: 400px;
                                                        }

                                                        .product-picture-helmet{
                                                            background: url("helmet01.jpg");
                                                            background-position: center;
                                                            background-repeat: no-repeat;
                                                            background-size: cover;
                                                            border-radius: 5px;
                                                            min-height: 400px;
                                                        }
            
                                                        .product-picture-pack{
                                                            position: relative;
                                                            background: url("pack01.jpg");
                                                            background-position: center;
                                                            background-repeat: no-repeat;
                                                            background-size: cover;
                                                            border-radius: 5px;
                                                            min-height: 400px;
            
                                                                .top-right{
                                                                    position: absolute;
                                                                    top: 10px;
                                                                    right: 10px;
                                                                    
                                                                        p{
                                                                            font-size: 14px;
                                                                            color: #DDE6ED;
                                                                            background: #eb5757;
                                                                            border: 1px solid #eb5757;
                                                                            border-radius: 5px;
                                                                            padding: 5px 10px;
                                                                        }
                                                                }
                                                        }

                                                        .name{
                                                            margin-top: 10px;
                                                            display: flex;
                                                            align-items: center;
                                                            justify-content: center;
                                                                p{
                                                                    font-size: 18px;
                                                                }
                                                        }
                                                        .price{
                                                            margin-top: 5px;
                                                            margin-bottom: 10px;
                                                            display: flex;
                                                            align-items: center;
                                                            justify-content: center;
                                                                p{
                                                                    font-size: 14px;
                                                                    font-weight: bold;
                                                                }
                                                                .discount-price p{
                                                                    font-size: 14px;
                                                                    font-weight: bold;
                                                                    color: red;
                                                                    text-decoration: line-through;
                                                                }
                                                                .full-price p{
                                                                    font-size: 14px;
                                                                    font-weight: bold;
                                                                    margin-right: 10px;
                                                                }
                                                        }
                                                    }
                                                    
                                                    .product-detail{
                                                        display: flex;
                                                        align-items: center;
                                                        justify-content: center;
                                                            
                                                            a{
                                                                text-decoration: none;
                                                                border: 1px solid #9DB2BF;
                                                                border-radius: 5px;
                                                                background: #9DB2BF;
                                                                color: #27374D;
                                                                padding: 10px 20px;
                                                                font-size: 16px;
                                                                transition: 0.3s ease;
                                                            }
                                                            a:hover{
                                                                border: 1px solid #27374D;
                                                                background: #27374D;
                                                                color: #DDE6ED;
                                                            }
                                                    }
                                            }
                                    }                                                 
                            }
                        }
                }

            .more-detail{
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 50px;

                    & .btn-detail{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;

                            & a{
                                text-decoration: none;
                                color: #fff;
                                background: #526D82;
                                border: 1px solid #526D82;
                                border-radius: 5px;
                                padding: 10px 20px;
                                transition: 0.3s ease;
                            }

                            & a:hover{
                                color: #fff;
                                background: #27374D;
                                border: 1px solid #27374D;
                                transition: 0.3s ease;
                            }
                    }
            }
        }
}

.container-main6{
    height: auto;
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;

        .container-info6{
            width: 1200px;

                & .profile{
                    position: relative;

                        & .profile-pic{

                                & img{
                                    position: absolute; /*เป็นการเอาภาพออกมาเพื่อให้เรากำหนดการจัดวางของรูปภาพได้*/
                                    top: 40px;
                                    left: 20px;
                                    width: 330px;
                                    height: 350px;
                                    /* object-fit: contain;  */
                                    /*อันนี้คือปรับขนาดรูปภาพ */
                                    border-radius: 10px;
                                    /* border: 1px solid blue; */
                                }
                        }

                        & .content-right{
                            margin-bottom: 50px;


                            & .profile-content{
                                background: #27374D;
                                border-radius: 10px;
                                margin-left: 200px;
                                border-radius: 10px;
                                padding-left: 200px;
                                padding-top: 50px;
                                padding-bottom: 100px;
                                padding-right: 60px;
    
                                    & h1{
                                        font-size: 30px;
                                        color: #fff;
                                        margin-bottom: 15px;
                                    }
    
                                    & p{
                                        font-size: 15px;
                                        color: white;
                                        margin-bottom: 10px;
                                    }
                            }
                        }
                }
        }
}


footer{
    height: 150px;
    width: 100%;
    background: #333;
    display: flex;
    justify-content: center;

        & .container-footer{
            width: 1200px;
            padding: 15px;

                & nav{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 40px;

                        & .logo{

                                & a{
                                    color: #fff;
                                    font-size: 40px;
                                    text-decoration: none;
                                }
                        }

                        & ul{
                            list-style: none;
                            
                                & li{

                                        & a{
                                            margin-left: 20px;
                                            color: #fff;
                                            font-size: 30px;
                                            transition: 0.3s ease;
                                        }

                                        & a:hover{
                                            color: #9DB2BF;
                                        }
                                }
                        }
                }

                & .end{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 20px;

                        & p{
                            font-size: 12px;
                            color: #fff;
                        }

                        & a{
                            font-size: 12;
                            color: #526D82;
                        }

                        & a:hover{
                            text-decoration: none;
                        }
                }
        }
}

/* color theme https://colorhunt.co/palette/27374d526d829db2bfdde6ed */
/* Thank you https://biznus-template.webflow.io/ to make me getting better */